/* html {
	overflow:hidden;
	height:100%;
}

body {
	height:100%;
	overflow:auto;
} */

html {
	background:#202020;
}

.App {
	background: #202020;
	position: relative;
	min-height: 100vh;
	min-width: 100%;
	font-family: sans-serif;
	color:white;
	float: left;
}

.App a {
	text-decoration: none;
}

.none {
	display:none;
}

.btn {
	color: white;
	padding: 10px 13px 7px 13px;
	background: #555;
	border-radius: 100px;
	text-align: center;
	cursor: pointer;
}

.btn:active {
	opacity: 0.5;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
	outline: none;
}
